<%- include('./common/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
   <!-- <%- include('./common/navbar.ejs') %> -->
    <h1><b>XSSS</b></h1>
    <!-- <main> -->
        <form class="form-card" id="login-form" action="" method="POST">
            <h2>Log In</h2>
            <div class="form-control">
                <label for="ID">Your ID</label>
                <input type="text" name="ID" id="ID">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <!-- TODO -->
            <button class="btn" type="submit">Log In</button>
            <div>
                <span>Don't have an account? </span>
                <!-- <a href="" onclick="toggleForm('signup-form')">Sign Up</a> -->
                <a href="#" id="signup-toggle">Sign Up</a>
            </div>
        </form>

        <form class="form-card" id="signup-form" action="" method="POST">
            <h2>Sign Up</h2>
            <div class="form-control">
                <label for="signupID">ID:</label>
                <input type="text" id="signupID" name="signupID">
            </div>
            <div class="form-control">
                <label for="signupPassword">Password:</label>
                <input type="password" id="signupPassword" name="signupPassword" />
            </div>
            <div class="form-control">
                <label for="signupPasswordConfirm">Confirm Password:</label>
                <input type="password" id="signupPasswordConfirm" name="signupPasswordConfirm" />
            </div>
            <button type="button" onclick="submitSignupForm()">Sign Up</button>
            <div>
                <span>Already have an account? </span>
                <!-- <a href="" onclick="toggleForm('login-form')">Login</a> -->
                <a href="#" id="login-toggle">Login</a>
            </div>
        </form>
    <!-- </main> -->
    <script src="/js/login.js"></script>
<%- include('./common/end.ejs') %>