<div class="account-info">
    <h2>Account Information</h2>
    <p id="name">Account Holder: <%= name%>
    </p>
    <!-- <p>Account Number: XXXX-XXXX-XXXX-1234</p> -->
    <p id="balance">Balance: $<%= balance%>
    </p>
</div>