<nav class="navbar">
  <div>
    <a class="<%= path === '/' ? 'active' : ''%>"class="active" href="/">Home</a>
    <a class="<%= path === '/forum' ? 'active' : ''%>"class="active" href="/forum">Forum</a>
  </div>
  <form class="logout-form" action="/logout" method="POST">
    <a class="<%= path === '/profile' ? 'active' : ''%>"class="active" href="/hints">My Profile</a>
    <input type="submit" value="Logout" />
  </form>
</nav>